/* footer.component.css */

/* Style the footer background color and text color */
.footer {
    border: 1px solid #dddddd; 
    background-color: #f2f2f2;

  }
  
  /* Center the content and add some padding */
  .container {
    padding: 30px 0;
  }
  
  /* Style the two columns within the footer */
  .col-md-6 {
    padding: 0 20px;
  }
  
  /* Style the footer headings */
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style the footer paragraphs */
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Add a border at the top of the footer for separation */
  .container::after {
    content: '';
    display: block;
    clear: both;
    border-top: 1px solid #555;
    margin-top: 20px;
  }
  
  img{
    height: 100px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.211); 
  }