.cha{
padding-left: 20px;

}

.ch{
    background-color: #f2f2f2;
    /* background-color: rgba(0, 234, 255, 0.529); */
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #dddddd; 
}

svg{
    margin-left: 10px;
    margin-right: 20px;
}

.vh{
    margin-left: auto;
}

.hg:hover{
    cursor: pointer;
}