<div class="form">
    <h4 id="registration">Edit Your Detail</h4>
    <!-- <form (ngSubmit)="onSubmit()" #myForm="ngForm"> -->
      <form #myForm="ngForm" *ngIf="item">
  
        <div ngModelGroup="personDetails" #personalDetail="ngModelGroup">
          <label for="name">Name</label>
          <input type="text" id="name" [(ngModel)]="item.name" name="name">
          
          <label for="address">Address</label>
          <input type="textarea" id="address" name="address" [(ngModel)]="item.address"
          name="address" >

          <label for="dob">DOB</label>
          <input type="date" id="dob" name="dob" [(ngModel)]="item.dob">

          <label for="role">Role</label>
          <input type="text" id="role" name="role" [(ngModel)]="item.role"
          name="role" >

      
        </div>
        
       <br>
        <label for="gender">Gender:</label>
        <!-- <span class="jh" *ngFor="let gen of gender">
          <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" >
          <label for="male">{{gen.value}}</label>
        </span> -->
       
        
        <span class="jh">
          <input type="radio" value="Male" name="gender" [(ngModel)]="item.gender">Male
          <input type="radio" value="Female" name="gender" [(ngModel)]="item.gender">Female
        </span>

        <br><br>
      
        <input type="submit" value="Update" id="btn">
      </form>
  </div>
  
  
 